/* Start coding here */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --darkpurple:#5E44FF;
    --lightpink:#E8DCF6;
    --lightblue:#D7E5F6;
    --lightindigo:#D8E0FC;
    --myblack:#1A1A2C;
    --gray:#5F5F76;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    flex:1;

}

.feature-section{
    display: flex;
    gap: 20px;
    padding: 120px 120px 140px 120px;
}

.feature-section .card{
    width: 100%;
    height: auto;
    border-radius: 24px;
    padding: 28px;
}

.feature-section .card-1{
    background-color: var(--lightblue);
}

.feature-section .card-2{
    background-color: var(--lightindigo);
}

.feature-section .card-3{
    background-color: var(--lightpink);
}

.feature-section .card .icon{
    color: var(--darkpurple);
    background-color: white;
    border-radius: 16px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.feature-section .card .icon .my-svg{
    width: 28px;
    height: 28px;
}

.feature-section .card h3{
    color: var(--myblack);
    margin-top: 20px;
}

.feature-section .card p{
    color: var(--gray);
    margin-top: 20px;
}


.contact-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
    border-radius: 20px;
    padding: 40px;
    width: 70%;
    margin-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    font-weight: bold;

}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(50, 50, 50);
}

.input-group input,
.input-group textarea {
    width: 110%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

.input-group textarea {
    height: 80px;

}

#submit-button  {
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin-top: 30px;
}

#submit-button:hover {
    background-color: rgb(25, 25, 25);
}

#submit-button:active {
    background-color: rgb(76, 76, 76);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;
    margin-top: 30px;
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

.footer ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.footer ul li a {
    text-decoration: none;
    color: black;
    
}

.footer ul li a:hover {
    text-decoration: underline;
}